/**
 * @name global style
 * @author liuhua
 * @datetime 2016-4-5
 */

@charset "utf-8";

/******** 全站通用 *********/
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: Roboto, "Noto Sans SC" , "Microsoft YaHei", sans-serif!important;
}

html {
  width:100%;
  height:100%;
}

body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  color:rgba(0,0,0,0.87);
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  outline: none;
  margin:0;
  padding: 0;
  border: 0;
}

img[src=""] {
  opacity: 0;
}

#app {
  width:100%;
  height:100%;
  /*
  background-image: url("images/index.jpg");
  background-size: 100%, 100%;
  background-repeat: no-repeat; 
   */
overflow-x: hidden;
}

/* starting background */

.spinner {
  margin: -74px 0 0 -74px;
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #81D4FA;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
