/*@font-face {
    font-family: 'Noto Sans CJK SC';
    src: url('NotoSansCJKsc-Thin.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans CJK SC';
    src: url('NotoSansCJKsc-Light.otf');
    font-weight: 200;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'Noto Sans CJK SC';
    src: url('NotoSansCJKsc-DemiLight.otf');
    font-weight: 300;
    font-style: normal;
}*/

@font-face {
    font-family: 'Noto Sans CJK SC';
    src: url('NotoSansCJKsc-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'Noto Sans CJK SC';
    src: url('NotoSansCJKsc-Medium.otf');
    font-weight: 500;
    font-style: normal;
}*/

@font-face {
    font-family: 'Noto Sans CJK SC';
    src: url('NotoSansCJKsc-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

/*@font-face {
    font-family: 'Noto Sans CJK SC';
    src: url('NotoSansCJKsc-Black.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Mono CJK SC';
    src: url('NotoSansMonoCJKsc-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Mono CJK SC';
    src: url('NotoSansMonoCJKsc-Bold.otf');
    font-weight: 700;
    font-style: normal;
}*/

/** {
    font-family: 'Noto Sans CJK SC'!important;
}*/




