
/**
  * @name 	404.css
  * @author liuhua
  * @datetime 2015-4-5
  * @descript 404页面式样
*/

.noFondPage .cf:after{
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear:both;
	visibility: hidden;
}
.noFondPage .cf{
	zoom: 1;
	clear:both;
}

.noFondPage.bg{
	width:100%;
	background:url("../images/404/01.jpg") no-repeat center top #DAD9D7;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	overflow:hidden;
}
.noFondPage .cont{
	margin:0 auto;
	width:500px;
	line-height:20px;
}
.noFondPage .c1{
	height:360px;
	text-align:center;
}
.noFondPage .c1 .img1{margin-top:180px;}
.noFondPage .c1 .img2{margin-top:165px;}
.noFondPage .cont h2{
	text-align:center;
	color:#555;
	font-size:18px;
	font-weight:normal;
	height:35px;
}
.noFondPage .c2{
	height:35px;
	text-align:center;
}
.noFondPage .c2 a{
	display:inline-block;
	margin:0 4px;
	font-size:14px;
	height:23px;
	color:#626262;
	padding-top:1px;
	text-decoration:none;
	text-align:left;
}
.noFondPage .c2 a:hover{
	color:#626262;
	text-decoration:none;
}
.noFondPage .c2 a.home{
	width:66px;
	background:url("../images/404/02.png");
	padding-left:30px;
}
.noFondPage .c2 a.home:hover{
	background:url("../images/404/02.png") 0 -24px;
}
.noFondPage .c2 a.home:active{
	background:url("../images/404/02.png") 0 -48px;
}
.noFondPage .c2 a.re{
	width:66px;
	background:url("../images/404/03.png");
	padding-left:30px;
}
.noFondPage .c2 a.re:hover{
	background:url("../images/404/03.png") 0 -24px;
}
.noFondPage .c2 a.re:active{
	background:url("../images/404/03.png") 0 -48px;
}
.noFondPage .c2 a.sr{
	width:153px;
	background:url("../images/404/04.png");
	padding-left:28px;
}
.noFondPage .c2 a.sr:hover{
	background:url("../images/404/04.png") 0 -24px;
}
.noFondPage .c2 a.sr:active{
	background:url("../images/404/04.png") 0 -48px;
}
.noFondPage .c3{
	height:180px;
	text-align:center;
	color:#999;font-size:12px;
}
.noFondPage #bf{
	position:absolute;
	top:269px;
	left:0;
	width:100%;
}
.noFondPage .bf1{
	margin:0 auto;width:99px;
	padding-left:32px;
}
.noFondPage .bd{
	height:600px;
	overflow:hidden;
}
.noFondPage #box{
	position:absolute;
	top:165px;
	left:0;
	width:100%;
	text-align:center;
}
.noFondPage .bf1{
	margin:0 auto;
	width:99px;
	padding-left:32px;
}