/**
  * @name global style
  * @author liuhua
  * @datetime 2016-4-5
*/

@charset "utf-8";

/******** 全站通用 *********/
*{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Noto Sans SC" , sans-serif!important;
}

.clearfix {
    display: block;
}

.clearfix:after {
    display: block;
    content: "\0020";
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.visible {
  visibility: visible;
}

html {
  width:100%;
  height:100%;
}

body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  outline: none;
  margin:0;
  padding: 0;
  border: 0;
}

img[src=""] {
  opacity: 0;
}

#app {
  width:100%;
  height:100%;
  overflow-x: hidden;
}

.app {
  width:100%;
  height:100%;
}
