/*old css is not work*/
.index-frame {
	display : flex;
	justify-content : center;
	align-items : center;
	text-align:center;
	min-height : 100vh;
	min-width : 100vw;
	background-image : url(../images/index/party_orig.jpg);
	background-size : cover;
	font-size: 14px!important;
}
.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:350px;
	background: inherit;
	font-size:14px!important;
}
.login-device-list {
	background-color: rgba(255,255,255,.85);
	color:#000!important;
}
.login-device-title {
	background: rgba(239,108,0,.75);
	height:50px;
	line-height: 50px;
	text-align: center;
	color:#fff;
}
.login-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-bottom: 10px;
}

.login-button div {
	width:88px;
	height:30px;
	line-height: 30px;
	color:#333;
}
.login-button>div:hover {
	background: #ef6c00;
	color:#fff;
}
.open-device-icon {
	width:50px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.open-device-icon svg {
	fill:#ffffff!important;
}
.find-device-container{
	/*width:650px;*/
	display:'flex';
	flex-direction:'column';
	align-items: 'center';
	justify-content: 'center';
	overflow: auto;
}

.setting-serverIP-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:10px;
	height:200px;
	width:300px;
}

.add-device-content {
	min-height: 200px;
	color:#000!important;
	background-color: rgba(255,255,255,.85);
}

.add-device-list-container {
	width:600px;
	min-height:200px;
	overflow: auto;
}

.add-device-title {
	height:50px;
	line-height: 50px;
	background: rgba(239,108,0,.75);
	text-align: center;
	color:#fff;
}

.add-device-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding:0 10px;
	height:35px;
	line-height: 35px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.add-device-list.hover:hover{
	background-color: #999;
	cursor: pointer;
	color:#fff;
}

.add-device-button {
	height:40px;
	background-color: rgba(255,255,255,.85);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding:0 10px;
}
.add-device-button>span {
	cursor: pointer;
	width:88px;
	height:30px;
	line-height: 30px;
	color:#333;
}
.change-path-text {
	width:200px;
}
.add-device-button>span:hover{
	background: #ef6c00;
	color:#fff;
}

.register-admin-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.delete-server {
	cursor: pointer;
	width:88px;
	height:30px;
	line-height: 30px;
}
.delete-server:hover {
	background: #ef6c00;
	color:#fff;
}

.fruitmix-detail>div {
	height:30px;
	line-height: 30px;
}

/*new css is working*/
.login-frame {
	display : flex;
	justify-content : center;
	align-items : center;
	text-align:center;
	min-height : 100vh;
	min-width : 100vw;
	background-image : url(../images/index/index.jpg);
	background-size : cover;
	font-size: 14px!important;
}
/*login content*/
.login-wrap {
	width:800px;
	height:450px;
	display: flex;
	flex-direction: column;
	padding-top:40px;
	background-color: #f2f2f2; 
	box-sizing: border-box;
}
.login-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
	height:28px;
}
.login-title>span {
	flex:0 0 50%;
	box-sizing: border-box;
}
.login-title>span:nth-child(1) {
	padding-left:60px;
	text-align: left;
	display: flex;
	flex-direction: row;
}
.login-title>span:nth-child(2) {
	padding-right: 60px;
	text-align: right;
}
.login-title-icon {
	background-image: url(../images/index/ic_logo.png);
	background-repeat: no-repeat;
	width: 114px;
	height:28px;
}
.login-title-name {
	height:28px;
	line-height: 38px;
	padding-left:10px;
}
.login-content>div {
	display: flex;
	flex-direction: column;
}
#login-wellcome {
	font-size: 26px;
	color:#212121;
	margin-bottom: 32px;
}
#login-device-select {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
#login-device-select>*{
	flex:0 0 33%;
}
#login-device-select svg {
	cursor: pointer;
	box-sizing: border-box;
}
#login-device-select svg:nth-child(1){
	padding-left:120px!important;
	box-sizing: border-box;
}
#login-device-select svg:nth-child(3){
	padding-right:120px!important;
	box-sizing: border-box;
}
.login-device-icon {
	background:url(../images/index/ic_winsnuc.png) no-repeat center;
	height:74px;
}
.login-device-name {
	color:#212121;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 14px;
}
.login-invisible {
	opacity: 0
}
.login-footer {
	height:142px;
	padding-top: 40px;
	box-sizing: border-box;
	position: relative;
}
.login-footer-userList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 404px;
	overflow: hidden;
	margin:0 auto;
}
.login-userIcon{
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	margin-left: 20px;
}
.login-userIcon>span{
	cursor: pointer;
}
.login-userIcon>span:nth-child(1){
	width:56px;
	height:56px;
	line-height: 56px;
	border-radius: 50%;
	margin-bottom: 10px;
	color:white;
}
.login-userIcon>span:last-child{
	color:#212121;
	font-size: 14px;
	max-width: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.login-footer-userSelected {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	overflow: hidden;
	margin:0 auto;
}
.login-users-more {
	padding-top:15px;
	box-sizing: border-box;
	cursor: pointer; 
}
.login-large-userList{
	position: absolute;
	width:100%;
	bottom: 0px;
	height: 310px;
	padding:0 55px 0 60px ;
	overflow: auto;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #f2f2f2;
}
.login-password {
	width:212px;
	height: 36px;
	margin-top: 10px;
	border:1px solid #e0e0e0;
	margin-right: 10px;
	box-sizing: border-box;
	padding-left:18px; 
}
.login-password-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.login-password-container>span:nth-child(1) {
	color:#212121;
	padding-left:5px;
}
.login-custom-container {
	display: flex;
	flex-direction: row;
	max-width: 500px;
	margin:0 auto;
	cursor: pointer;
}
.login-submit-button, .login-cancel-button {
	width:70px;
	height:36px;
	line-height: 36px;
	position: relative;
	top:13px;
	color:#ffffff;
	cursor: pointer;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.login-submit-button {
	background-color: #3f51b5;
	margin-right: 5px;
}
.login-submit-button:hover {
	background-color: #4169E1;
}
.login-cancel-button {
	background-color: #D87093;
}
.login-appifi-button {
	cursor: pointer;
	background-color: #3f51b5;
	width:110px;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	color:#fff;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.login-appifi-button:hover {
	cursor: pointer;
	background-color: #4169E1;
}
/*login volume*/
.login-volume-wrap {
	width:800px;
	height:600px;
	display: flex;
	flex-flow: column nowrap;
	padding-top:40px;
	background-color: #f2f2f2; 
	box-sizing: border-box;
	position: relative;
	font-family: "Microsoft YaHei"!important;
	color:#212121;
}
.login-volume-content {
	margin-top:40px;
}
.login-volume-case1>div {
	box-sizing: border-box;
	text-align: left;
}
.login-volume-case1>div:nth-child(1) {
	margin-bottom: 20px;
	padding-left:112px;
	color:#212121;
	font-size: 16px;
}
.login-volume-case1>div:nth-child(2) {
	padding-left:168px;
	margin-bottom: 50px;
}
.login-volume-case1>div:nth-child(2)>div {
	display: flex;
	flex-direction: row;
}
.login-volume-case1>div:nth-child(2)>div>div {
	width:auto!important;
}
/*.login-volume-case1>div:nth-child(3) {
	padding-left:112px;
}
.login-volume-case1>div:nth-child(4) {
	width:300px;
	min-height: 100px;
	max-height: 150px;
	margin:0 auto;
	overflow: auto;
}*/
.login-volume-case1>div:nth-child(3) {
	padding-left:112px;
}
.login-volume-case1>div:nth-child(4) {
	width:300px;
	min-height: 100px;
	max-height: 150px;
	margin:0 auto;
	overflow: auto;
}
.login-volume-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.login-volume-row>span:nth-child(1){
	margin-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.login-disk-row {
	height:30px;
	line-height: 30px;
	padding-left:40px;
	background: url(../images/index/ic_disk.png) no-repeat 7px 3px; 
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.login-disk-row>span:nth-child(2) {
	cursor:pointer;
	width:75px;
	border: 1px solid #999;
	text-align: center;
}
.login-disk-row>span:nth-child(2):hover {
	background-color: #999
}

.login-volume-case2 {
	color: #212121;
	
}
.login-volume-case2>header,.login-volume-case3>header {
	font-size: 28px;
	margin-bottom: 20px;
}
.login-volume-case2>div {
	width:360px!important;
}
.login-volume-case3 {
	display: flex;
	flex-direction: column;
}
.login-volume-case3>div:nth-child(2) {
	margin-top:30px;
	color:#212121;
}
.login-volume-case3>div>div {
	text-align: left;
	box-sizing: border-box;
	padding-left:250px;
	margin-bottom: 12px;
	font-size: 14px;
}
.login-volume-case3>div>div:nth-child(4) {
	padding-left:300px;
}
.login-volume-case4>div:nth-child(1) {
	font-size: 28px;
	margin-bottom: 50px;
}
.login-volume-case4>div:nth-child(2) {
	width:100px;
	height:35px;
	line-height: 35px;
	border: 1px solid #999;
	cursor: pointer;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	margin: 0 auto;
}
.login-volume-case4>div:nth-child(2):hover {
	border: 1px solid #333;
}


.login-volume-footer{
	position: absolute;
	bottom: 74px;
	width:100%;
	height:36px;
	line-height: 36px;
}
.login-volume-footer-container {
	display: flex;
	flex-direction: row;
	position: relative;
}
.login-volume-prev,.login-volume-next {
	color:#212121;
	font-size: 14px;
	border: 1px solid #e0e0e0;
	width:80px;
	height:36px;
	flex: 0 0 80px;
	cursor: pointer;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	position: absolute;
}
.login-volume-prev {
	left:110px;
}
.login-volume-next {
	right:110px;	
} 
.login-volume-prev:hover,.login-volume-next:hover {
	background-color: #999
}

