.index-frame {
	display : flex;
	justify-content : center;
	min-height : 100vh;
	min-width : 100vw;
	background-image : url(../images/index/party_orig.jpg);
	background-size : cover;
	align-items : center;
	text-align:center;
}

.find-device-container{
	width:300px;
	display:'flex';
	flex-direction:'column';
	align-items: 'center';
	justify-content: 'center'
}

.toggle-device {
	width:200px;
	position: absolute;
	top:0px;
	left:0px;
	background-color: #37474f!important
}