


/*breadcrumb*/
.breadcrumb {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
.breadcrumb>span {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	height:24px;
	line-height: 24px;
	display: inline-block;
}
/*svg*/
.black-frame {
	width: 24px; position: absolute; opacity: 1; display: inline-block; fill: rgba(0, 0, 0, 0.870588); height: 24px; transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 200ms; -webkit-user-select: none;
}
.select-svg {
	width: 24px; position: absolute; opacity: 1; display: inline-block; fill: rgb(0, 188, 212); height: 24px; transition: opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 800ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; transform: scale(1); -webkit-user-select: none;
}
/*detail*/
.detail-container{
	box-sizing: border-box;
	font-size:14px;
	height:100%;
	padding-top: 56px;
	color:rgba(0,0,0,.87);
}
.detail-not-select>svg {
	display: block;
	margin:20px auto 10px;
	opacity: 0.54
}

.file-infor {
	box-sizing: border-box;
	padding:20px 12px;
}
.file-infor> div:not(.file-detail-line) {
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:0 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.file-detail-line {
	margin-bottom:20px;
	padding-top:20px;
	width:100%;
	background-clip: padding-box;
	overflow: hidden;
}

.file-detail-line >div {
	border-top:1px solid #e1e1e1;
}

.detail-title {
	height:38px;
	line-height: 38px;
	margin-bottom: 20px;
	text-align: center;
}

.file-share {
	box-sizing: border-box;
	padding:20px 12px;
}
.custom-share-container {
	padding:0 20px 0;
}

.lightbox-arrow svg {
	width: 44px!important;
	height: 60px!important;
	color: rgba(255, 255, 255, .4)!important;
	fill: rgba(255, 255, 255, .4)!important;
}

.lightbox-close svg {
	color: rgba(255, 255, 255, .4)!important;
	fill: rgba(255, 255, 255, .4)!important;	
}
/*file table*/

#list-container {
  height: 100%;
  overflow: auto;
  position: relative;
}

.row-title {
  height:40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: 120px;
  font-size:14px;
  opacity: 0.54;
}

.row-title > div:nth-child(1) {
  font-weight: bold;
  flex:1; 
}

.row-title > div:nth-child(2) {
  flex:0 0 160px;
  text-align: right;
}

.row-title > div:nth-child(3) {
  flex:0 0 160px;
  text-align: right; 
  margin-right: 40px;
}

#rowlist-content {
  height:calc(100% - 41px);
  background-color: '#FFF';
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height:40px;
  color:#000;
  opacity: .87
}

.row:hover {
  background-color: #EEEEEE!important;
}

.row > div {
  box-sizing: border-box;
  cursor: default;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.row-select {
  flex:0 1 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.row > div:nth-child(2) {
  flex: 1
}

.row-time {
  flex:0 1 160px;
  font-size:13px;
  opacity: .54;
  text-align: right;
}

.row-size {
  flex:0 1 160px;
  font-size: 13px;
  opacity: .54;
  text-align: right;
  margin-right: 40px;
}

/*new transmission 2017.2.28*/
#trs-wrap {
	padding:60px 0px 0px;
	-webkit-user-select:none;
}

#trs-wrap *{
	cursor: default;
}

.trs-list-wrapper {
	margin-bottom: 80px;
}

.trs-title {
	padding:0 88px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color:#3f3f3f;
}

.trs-title>span:nth-child(1) {
	font-size :26px;
	font-weight: 400;
	color:#b8b8b8;
}

.trs-title>span:nth-child(2) {
	color:#b8b8b8;
}

.trs-title>span:nth-child(3) {
	display: flex;
	flex-grow: 1;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.trs-title>span:nth-child(3) * {
	cursor: pointer!important;
}

.trs-hr {
	box-sizing: border-box;
	height:1px;
	background-color: #b8b8b8;
	margin: 8px 88px 12px 88px
}

.trs-row {
	padding:0 88px;
	height:64px;
	line-height: 64px;
	font-size:14px;
	color:#3f3f3f;
	display: flex;
	flex-flow:row nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

.trs-finish-row {
	height:40px;
	line-height: 40px;
}

.trs-row:hover {
	background: #eeeeee
}

.trs-row-name {
	flex-grow: 2;
	min-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: flex;
	flex: row nowrap
}

.trs-row-name>span:nth-child(1), .trs-row-name>span:nth-child(2){
	display: flex;
	align-items: center;
	margin-right: 8px;
}

.trs-row-rtime {
	width:234px;
	padding-left:50px;
	color:rgba(0, 0, 0, 0.541176);
	font-size:13px;
}

.trs-row-progress {
	width:284px;
}

.trs-row-progress-bar {
	width:142px;
	background-color: #eeeeee;
	border-radius: 2px;
	height:6px;
	margin-right: 12px;
	display: flex;
}

.trs-row-progress>div {
	height:32px;
	line-height: 32px;
	position: relative;
}

.trs-row-progress>div:nth-child(1) {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	top:5px;
}

.trs-row-progress>div:nth-child(2) {
	top:-5px;
}

.trs-row-finishProcess {
	font-size:12px;
	color:#939393;
}

.trs-row-tool {
	width:100px;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.trs-row-finishDate {
	width:385px;
	color:rgba(0, 0, 0, 0.541176);
	font-size:13px;
}

.trs-detail-container {
	width:250px;
	height:150px;
	top:64px;
	right:0px;
	position: absolute;
	border: 1px solid red;
	overflow: auto;
	background: white;
	z-index: 999;
}

.trs-menu-container {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height:100%;
}