/*main*/
/* $primaryColor: #333; */

* {
	font-family: "Noto Sans SC", sans-serif;
}

img {
	border: 0;
}

.clearfix:after {
	display: block;
	content: "\0020";
	clear: both;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.main {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-user-select:none;
}

body{
	background: #eee;
  overflow: hidden;
}
.app {
	height: 100%
}
.app>div:not(.index-frame) {
	height: 100%
}

/*unknow but maybe is working for some component*/
.right-panel-inner.active {
	right: 0!important;
}

.slide-emit {
	display: none;
}

.slide-emit:checked + div {
	max-height: 0!important;
}

.large-arrow,
.large-arrow > div > div {
	position: static!important;
}

.large-arrow svg {
	position: absolute!important;
	width: 30px!important;
	height: 30px!important;
	top: 335px!important;
}

.image-item:last-child {
	margin-right: 0!important;
}

.image-item .selected-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, .12) 0%, rgba(255, 255, 255, 0) 100%);
	left: 0;
	top: 0;
	transition: opacity .5s;
}

.image-item.active .selected-mask {
	opacity: 1;
}

.image-item.show i {
	display: block;
	background-color: #5868c0!important;
	border-color: #5868c0!important;
}

.image-item.active span {
	display: block!important;
}

.image-item {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.operations {
	margin-top: 10px;
}

.operations > div {
	display: inline-block!important;
}

.action-btn {
	display: inline-block!important;
	margin-right: 20px!important;
	margin-bottom: 0!important;
}

.action-btn svg {
	display: inline-block!important;
	width: 18px!important;
	height: 18px!important;
	position: static!important;
	top: 0!important;
	margin: 0!important;
	left: 0!important;
}

.action-btn > div > div {
	padding: 0!important;
}

.action-btn > div > span > div > div {
	padding: 0!important;
}

.arrow-left-btn svg,
.arrow-right-btn svg {
	border-radius: 100%;
	margin-left: -12px!important;
	margin-top: 20px!important;
	width: 30px!important;
	height: 30px!important;
}

.arrow-left-btn svg:hover,
.arrow-right-btn svg:hover {
	background-color: #e5e5e5;
}

.clear-operation > div {
	display: inline-block!important;
}

.clear-operation label {
	font-size: 12px;
	color: #757575;
	margin-left: -20px;
	vertical-align: text-top;
}

.popup-photoinfo-icon:hover {
	border-color: #efefef!important;
	box-shadow: 0 1px 0 rgba(0,0,0,.25)!important;
}

.popup-photoinfo-icon:hover i {
	background-color: #586abf!important;
}

.popup-photoinfo-icon.active {
	border-color: #efefef!important;
	background-color: #e0e0e0!important;
	box-shadow: 0 1px 0 rgba(0,0,0,.25)!important;
}

.popup-photoinfo-icon.active i {
	background-color: #586abf!important;
}

.large-arrow-left svg {
  left: 0!important;
}

.large-arrow-right svg {
	left: auto!important;
	right: 0!important;
}

.share-enter-animate {
	right: 0!important;
}

.status-widget {
  background-color: transparent;
	border: 1px solid rgba(255,255,255,.54);
	border-radius: 100%;
	display: inline-block;
	height: 18px;
	width: 18px;
	overflow: hidden;
	vertical-align: bottom;
}

.status-widget.selected-status-widget {
	background-color: #576bc0;
  border-color: #576bc0;
}

.status-widget.unselected-status-widget {
	background-color: #757575;
  border-color: #757575;
}

.status-widget.select-status-widget i {
	display: block;
	height: 2px;
	line-height: 0;
	font-size: 0;
	transform: rotate(52deg) translate(8px, 4px);
	width: 7px;
	vertical-align: middle;
}

.status-widget.select-status-widget i:after {
	content: "/";
	display: block;
	width: 10px;
	height: 2px;
	transform: rotate(-90deg) translateY(45%) translateX(50%);
}

.status-widget.select-status-widget.selected-status-widget i,
.status-widget.select-status-widget.selected-status-widget i:after {
	background-color: #fff;
}

.status-widget.select-status-widget.unselected-status-widget i,
.status-widget.select-status-widget.unselected-status-widget i:after {
	background-color: #eee;
}


/*breadcrumb*/
.breadcrumb {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
.breadcrumb>span {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	height:24px;
	line-height: 24px;
	display: inline-block;
}
/*svg*/
.black-frame {
	width: 24px; position: absolute; opacity: 1; display: inline-block; fill: rgba(0, 0, 0, 0.870588); height: 24px; transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 200ms; -webkit-user-select: none;
}
.select-svg {
	width: 24px; position: absolute; opacity: 1; display: inline-block; fill: rgb(0, 188, 212); height: 24px; transition: opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 800ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; transform: scale(1); -webkit-user-select: none;
}
/*detail*/
.detail-container{
	box-sizing: border-box;
	font-size:14px;
	height:100%;
	padding-top: 56px;
	color:rgba(0,0,0,.87);
}
.detail-not-select>svg {
	display: block;
	margin:20px auto 10px;
	opacity: 0.54
}

.file-infor {
	box-sizing: border-box;
	padding:20px 12px;
}
.file-infor> div:not(.file-detail-line) {
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:0 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.file-detail-line {
	margin-bottom:20px;
	padding-top:20px;
	width:100%;
	background-clip: padding-box;
	overflow: hidden;
}

.file-detail-line >div {
	border-top:1px solid #e1e1e1;
}

.detail-title {
	height:38px;
	line-height: 38px;
	margin-bottom: 20px;
	text-align: center;
}

.file-share {
	box-sizing: border-box;
	padding:20px 12px;
}
.custom-share-container {
	padding:0 20px 0;
}
/*transmission*/
.transimission-container {
	width:100%;
	height: 100%;
	background-color: #fff;
	overflow: auto;
}
.transimissionRow{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
}
.transimissionRow>span {
	box-sizing: border-box;
	color:rgba(0,0,0,.87);
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 13px;
}

.transimissionRow>span:nth-child(1) {
	flex:0 0 50px;
}
.transimissionRow>span:nth-child(2) {
	flex-grow: 1;
}
.transimissionRow>span:nth-child(3) {
	flex:0 1 75px;
	margin-right: 56px;
	text-align: right;
}
.transimissionRow>span:nth-child(4) {
	flex:0 1 75px;
	margin-right: 24px;
	text-align: right;
}

.transimissionRow:not(.transimissionTitle):hover {
	background-color: #eeeeee;
}
.transimissionTitle>span {
	font-size: 12px;
	color:rgba(0,0,0,.54);
}

.lightbox-arrow svg {
	width: 44px!important;
	height: 60px!important;
	color: rgba(255, 255, 255, .4)!important;
	fill: rgba(255, 255, 255, .4)!important;
}

.lightbox-close svg {
	color: rgba(255, 255, 255, .4)!important;
	fill: rgba(255, 255, 255, .4)!important;	
}
/*file table*/

#list-container {
  height: 100%;
  overflow: auto;
  position: relative;
}

.row-title {
  height:40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: 120px;
  font-size:14px;
  opacity: 0.54;
}

.row-title > div:nth-child(1) {
  font-weight: bold;
  flex:1; 
}

.row-title > div:nth-child(2) {
  flex:0 0 160px;
  text-align: right;
}

.row-title > div:nth-child(3) {
  flex:0 0 160px;
  text-align: right; 
  margin-right: 40px;
}

#rowlist-content {
  height:calc(100% - 41px);
  background-color: '#FFF';
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height:40px;
  color:#000;
  opacity: .87
}

.row:hover {
  background-color: #EEEEEE!important;
}

.row > div {
  box-sizing: border-box;
  cursor: default;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.row-select {
  flex:0 1 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.row > div:nth-child(2) {
  flex: 1
}

.row-time {
  flex:0 1 160px;
  font-size:13px;
  opacity: .54;
  text-align: right;
}

.row-size {
  flex:0 1 160px;
  font-size: 13px;
  opacity: .54;
  text-align: right;
  margin-right: 40px;
}
