/*main*/
.main {
	width: 100%;
	height: 100%;
	position: relative;
}
.app-bar {
	box-sizing: border-box;
	position: fixed!important;
}
.search-input {
	width:200px!important;
	margin-right:20px;
}
/*left nav*/
.left-nav>div {
	z-index:999!important;
}
.left-nav-container {
	padding-top:64px;
	overflow: hidden;
	box-sizing: border-box;
}
.list-selected {
	background-color: rgba(0,0,0,.2)!important;
}
/*content*/
.content-container {
	width: 100%;
	position: absolute;
	top:0px;
}
.content-container.content-has-left-padding {
	padding-left:220px;
}
.content-container.no-padding {
	padding-left: 20px; 
}
/*CSSTRANISTION*/
.content-appear {
	opacity: 0.01;
	color:red;
}
.content-appear.content-appear-active {
	opacity: 1;
	transition: all 800ms ease-out;
}
.content-enter {
	opacity: 0.01;
	position: relative;
}
.content-enter.content-enter-active {
	opacity: 1;
	transition: all 800ms ease-out;
}

.app-appear {
	opacity: 0.01;
}
.app-appear.app-appear-active {
	opacity: 1;
	transition: all 500ms ease-out;
}
/*AllFiles*/
.breadcrumb {
	height:48px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
.all-my-files {
	display: flex;
	flex-direction:row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;

}
.file-area {
	width:100%;
	overflow-x:hidden;
	height:100%;
	padding-top:8px;
	overflow-y: auto;
	position: relative;
	
}
.file-detail {
	height: 100%;
}
.all-files-container {
	position: relative;
}
.upload-input{
	display: none;
}
.share-user-list-container {
	max-height: 300px;
}
/*table*/
.allFileTable {
	width:100%;
	table-layout: fixed;
	border-spacing: 0px;
	border-collapse: collapse;
}
.allFileTable>thead {
	border-bottom:1px solid rgb(224,224,224);
}
.allFileTable tbody {
	position: relative;
}
.hidden {
	display: none
}
.allFileTable tr:not(:last-child) {
	border-bottom: 1px solid rgb(224, 224, 224);
}
.tr-selected-background {
	background-color: rgb(224, 224, 224);	
}
.allFileTable th {
	color:rgb(158, 158, 158);
	height:56px;	
}
.allFileTable th:nth-child(1),.allFileTable td:nth-child(1){
	cursor: pointer;
}
.allFileTable td {
	color:rgba(0, 0, 0, 0.870588);
	height:48px;
	cursor:default;
}
.allFileTable th,.allFileTable td {
	font-weight:normal;
	font-size:12px;
	padding-left:24px;
	padding-right: 24px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor:default;
}
.allFileTable td>div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}
.allFileTable th:nth-child(1),.allFileTable td:nth-child(1) {
	width:24px;
}

.allFileTable .selectBox {
	width:24px;
	height:24px;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	position: relative;
}
.allFileTable .selectBox>div {
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
.black-frame {
	width: 24px; position: absolute; opacity: 1; display: inline-block; fill: rgba(0, 0, 0, 0.870588); height: 24px; transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 200ms; -webkit-user-select: none;
}
.select-svg {
	width: 24px; position: absolute; opacity: 1; display: inline-block; fill: rgb(0, 188, 212); height: 24px; transition: opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 800ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; transform: scale(1); -webkit-user-select: none;
}
.bezierTransition1,.bezierTransition2 {
	position: absolute;
	top: -12px;
	left: -12px;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	transform: scale(0); 
	opacity: 1; 
	transition: opacity 2s cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
	background-color: rgba(0, 0, 0, 0.170588);
}
.bezierTransition1 {
	background-color: rgba(0, 0, 0, 0.170588);	
}
.bezierTransition2 {
	background-color: rgba(0, 188, 212,.2);
}
.bezierTransition1.open,.bezierTransition2.open {
	transform: scale(1); 
	opacity: 0; 
}
.data-loading {
	position: absolute;
	top:50%;
	margin-left:-35px;
}
.file-name {

}
/*Menu*/
.MenuContainer {
	position: absolute;
	left:0px;
	top:0px;
}
.MenuContainer .menu-list{
	width:100%;
	line-height: 30px;
}
.file-type-icon {
	width:30px;
	height:30px;
	background-image: url(../images/index/file.png);
	display: inline-block;
	background-size: 732px;
	margin-right: 10px;
	flex-shrink:0;
}
.file-type-icon.folder{
	background-position: 0px 0px;
}
.file-type-icon.file {
	background-position: -209px 50px;
}
.file-type-icon.doc{
	background-position: 0px -50px
}
.file-type-icon.docx {
	background-position: -50px -50px;
}
.file-type-icon.wps {
	background-position: -155px -50px; 
}
.file-type-icon.ppt {
	background-position: -208px -50px;
}
.file-type-icon.pptx {
	background-position: -258px -50px;
}
.file-type-icon.pdf {
	background-position: 0px -100px;
}
.file-type-icon.txt {
	background-position: -53px -100px;
}
.file-type-icon.jpg {
	background-position: 0px -153px;
}
/*detail*/
.detail-container{
	box-sizing: border-box;
	position: relative;
}
.detail-container>div{
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.detail-close {
	position: absolute;
	bottom: 20px;
	left:20px;
	line-height: 36px;
}
/*setting*/
.register-container>div{
	margin: 0 auto;
}