


/*breadcrumb*/
.breadcrumb {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
.breadcrumb>span {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	height:24px;
	line-height: 24px;
	display: inline-block;
}
/*svg*/
.black-frame {
	width: 24px; position: absolute; opacity: 1; display: inline-block; fill: rgba(0, 0, 0, 0.870588); height: 24px; transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 200ms; -webkit-user-select: none;
}
.select-svg {
	width: 24px; position: absolute; opacity: 1; display: inline-block; fill: rgb(0, 188, 212); height: 24px; transition: opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 800ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; transform: scale(1); -webkit-user-select: none;
}
/*detail*/
.detail-container{
	box-sizing: border-box;
	font-size:14px;
	height:100%;
	padding-top: 56px;
	color:rgba(0,0,0,.87);
}
.detail-not-select>svg {
	display: block;
	margin:20px auto 10px;
	opacity: 0.54
}

.file-infor {
	box-sizing: border-box;
	padding:20px 12px;
}
.file-infor> div:not(.file-detail-line) {
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:0 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.file-detail-line {
	margin-bottom:20px;
	padding-top:20px;
	width:100%;
	background-clip: padding-box;
	overflow: hidden;
}

.file-detail-line >div {
	border-top:1px solid #e1e1e1;
}

.detail-title {
	height:38px;
	line-height: 38px;
	margin-bottom: 20px;
	text-align: center;
}

.file-share {
	box-sizing: border-box;
	padding:20px 12px;
}
.custom-share-container {
	padding:0 20px 0;
}

.lightbox-arrow svg {
	width: 44px!important;
	height: 60px!important;
	color: rgba(255, 255, 255, .4)!important;
	fill: rgba(255, 255, 255, .4)!important;
}

.lightbox-close svg {
	color: rgba(255, 255, 255, .4)!important;
	fill: rgba(255, 255, 255, .4)!important;	
}
/*file table*/

#list-container {
  height: 100%;
  overflow: auto;
  position: relative;
}

.row-title {
  height:40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: 120px;
  font-size:14px;
  opacity: 0.54;
}

.row-title > div:nth-child(1) {
  font-weight: bold;
  flex:1; 
}

.row-title > div:nth-child(2) {
  flex:0 0 160px;
  text-align: right;
}

.row-title > div:nth-child(3) {
  flex:0 0 160px;
  text-align: right; 
  margin-right: 40px;
}

#rowlist-content {
  height:calc(100% - 41px);
  background-color: '#FFF';
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height:40px;
  color:#000;
  opacity: .87
}

.row:hover {
  background-color: #EEEEEE!important;
}

.row > div {
  box-sizing: border-box;
  cursor: default;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.row-select {
  flex:0 1 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.row > div:nth-child(2) {
  flex: 1
}

.row-time {
  flex:0 1 160px;
  font-size:13px;
  opacity: .54;
  text-align: right;
}

.row-size {
  flex:0 1 160px;
  font-size: 13px;
  opacity: .54;
  text-align: right;
  margin-right: 40px;
}

/*new transmission 2017.2.28*/
#trs-wrap {
	padding:24px 0px 0px;
	-webkit-user-select:none;
}

#trs-wrap *{
	cursor: default;
}

.trs-list-wrapper {
	margin-bottom: 80px;
}

.trs-title {
	padding:0 88px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color:#3f3f3f;
}

.trs-title>span:nth-child(1) {
	font-size :26px;
	font-weight: 400;
	color:#b8b8b8;
}

.trs-title>span:nth-child(2) {
	color:#b8b8b8;
}

.trs-title>span:nth-child(3) {
	display: flex;
	flex-grow: 1;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.trs-title>span:nth-child(3) * {
	cursor: pointer!important;
}

.trs-hr {
	box-sizing: border-box;
	height:1px;
	background-color: #b8b8b8;
	margin: 8px 88px 12px 88px
}

.trs-row {
	padding:0 88px;
	height:48px;
	line-height: 48px;
	font-size:14px;
	color:#3f3f3f;
	display: flex;
	flex-flow:row nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

.trs-finish-row {
	height:40px;
	line-height: 40px;
}

.trs-row:hover {
	background: #eeeeee
}

.trs-row-name {
	flex-grow: 2;
	min-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: flex;
	flex: row nowrap
}

.trs-row-name>span:nth-child(1) svg{
	width:18px!important;
	height:18px!important;
}

.trs-row-name>span:nth-child(1), .trs-row-name>span:nth-child(2){
	display: flex;
	align-items: center;
	margin-right: 8px;
}

.trs-row-rtime {
	width:234px;
	padding-left:50px;
	color:rgba(0, 0, 0, 0.541176);
	font-size:13px;
}

.trs-row-progress {
	width:284px;
}

.trs-row-progress-bar {
	width:142px;
	background-color: rgba(0,0,0,.12);
	border-radius: 2px;
	height:6px;
	margin-right: 12px;
	display: flex;
}

.trs-row-progress>div {
	height:24px;
	line-height: 24px;
	position: relative;
}

.trs-row-progress>div:nth-child(1) {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	top:4px;
}

.trs-row-progress>div:nth-child(2) {
	top:-4px;
}

.trs-row-finishProcess {
	font-size:12px;
	color:#939393;
}

.trs-row-tool {
	width:100px;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.trs-row-finishDate {
	width:385px;
	color:rgba(0, 0, 0, 0.541176);
	font-size:13px;
}

.trs-detail-container {
	width:250px;
	height:150px;
	top:64px;
	right:0px;
	position: absolute;
	border: 1px solid red;
	overflow: auto;
	background: white;
	z-index: 999;
}

.trs-menu-container {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height:100%;
}

/*move dialog*/
.move-dialog-container {
	box-sizing: border-box;	
	width:248px;
	height:311px;
	border: solid 1px rgba(0,0,0,.2);
}

.move-dialog-container svg {
/*	width:16px!important;
	height: 16px!important;*/
	color:#777!important;
}

.move-dialog-header {
	height: 48px;
	background-color: #f1f1f1;
	position: relative;
	display: flex;
	flex-flow:row nowrap;
	justify-content: flex-start;
	align-items: center;
	/*border-bottom: solid 1px rgba(0,0,0,.1);*/
}

.move-title-icon {
	width:40px;
	height:40px;
	box-sizing: border-box;
	border:1px dotted transparent;
	border-radius: 50%;
	transition: all .218s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:2px 0px 0 2px;
}

.move-title-icon:hover {
	background: rgba(0,0,0,.12)
}

.move-title-icon.invisible:hover {
	background: rgba(255,255,255,0);
	cursor:default;
}

.move-title-icon.invisible svg {
	display: none!important
}


.move-dialog-title {
	margin-left:5px;
	font-size:16px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: 'Roboto','Arial','sans-serif';
	color:#777;
	width:165px;
}

.move-dialog-list {
	width:246px;
	height:198px;
	border-top:1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	cursor: default;
	overflow-y: scroll;
}

.move-dialog-list::-webkit-scrollbar {
	width: 14px;
}

.move-dialog-list::-webkit-scrollbar-track {
	border:solid transparent;
	border-width: 0 0 0 4px;
	background-clip:padding-box;
}

.move-dialog-list::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,.2);
	background-clip: padding-box;
	border:solid transparent;
	border-width: 1px 1px 1px 6px;
}

.move-dialog-loading {
	margin: -20px auto 0;
	position: relative;
	top:50%;
}

.move-operation {
	height:61px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.move-button {
	height:32px;
	line-height: 32px;
	margin-left:17px;
	text-align: center;
	border-radius: 2px;
	background: #4d90fe;
	color:white;
	font-size: 13px;
	width:70px;
	cursor: pointer;
	border: 1px dotted transparent;
	transition: all ease 0.218s
}

.move-button:hover {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
}

.move-button.long {
	width:105px;
}

.move-button.disable {
	background: white;
	border: none;
	cursor: default;
	color:rgba(0,0,0,.26);
}

.move-button.disable:hover {
	box-shadow: none
}



.move-dialog-row {
	height:36px;
	line-height: 36px;
	width:100%;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.move-dialog-row:hover {
	background: rgb(241,241,241);
}

.move-dialog-row.row-selected {
	background: #4d90fe
}

.move-dialog-row.disable {
	opacity: .5
}

.move-dialog-row svg {
	width:19px!important;
	height:19px!important;
}

.move-dialog-row.row-selected svg {
	color:white!important;
	width:21px!important;
	height:21px!important;	
}

.move-dialog-row>span {
	height: 36px;
	line-height: 36px;
	font-size:13px;
	align-items: center;
}

.move-dialog-row-type {
	margin:0 18px 0 13px;
	display: flex;
}


.move-dialog-row-text {
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right:5px;
}

.move-dialog-row.row-selected .move-dialog-row-text {
	color: white
}


.move-dialog-row-enter {
	display: none;
	width:23px;
	height:25px!important;
	line-height: 25px!important;
	cursor: pointer;
	justify-content: center;
}

.move-dialog-row-enter:hover {
	background-color:rgba(0, 0, 0, .11);
}

.move-dialog-row:hover .move-dialog-row-enter {
	display: flex;
}

.move-dialog-row.row-selected .move-dialog-row-enter {
	display: flex;
}

.move-dialog-row.disable .move-dialog-row-enter {
	display: none
}

